@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.likes {
  animation: scrollText 15s infinite linear;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  @apply bg-white;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-70%);
  }
}
